<head> </head>





<body>
<h1>IPPOTERAPIA  </h1>
<p>L'ippoterapia, o equitazione a scopo terapeutico, ha origine empiriche antiche perché il cavallo, con le sue straordinarie doti di sensibilità, di adattamento, di intelligenza è ritenuto, da sempre, e non a torto, "straordinaria medicina". 
L’uso dell’equitazione a scopo terapeutico ha avuto inizio già nell’opera di Ippocrate di Coo (460-370 a.C.), che consigliava lunghe cavalcate per combattere l'ansia e l'insonnia. Una prima documentazione scientifica sull'argomento la dobbiamo al medico Giuseppe Benvenuti (1759). 
Alla fine della prima guerra mondiale il cavallo è entrato nei programmi di riabilitazione, inizialmente in Scandinavia e in Inghilterra, poi in numerosi altri paesi.

  </p>

</body>
